:host {
    position: relative;
    margin-top: 1em;
}

input {
    border: none;
    border-bottom: 1.5px solid #7b7b7b;
    transition: border-color 0.3s ease;
    padding: 10px;
    width: 300px;
}

input:focus {
    outline: none;
    border-color: #4a90e2;
    text: '';
}

.btn-password-visible, .btn-password-invisible {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
}

.btn-password-invisible {
    display: none;
}

.password-strength-meter {
    display: flex;
    margin-top: 1em;
}

.strength-bar {
    width: calc(100% / 3);
    height: 0.3em;
    background-color: #7b7b7b;
    transition: width 0.3s ease;
    border-radius: 20px;
    margin: 1em 0;
}

.strength-bar:not(:last-child) {
    margin-right: 20px;
}

.default {
    background-color: #7b7b7b;
}

.easy, .unsuitable {
    background-color: #ff4d4d;
}

.medium {
    background-color: #ffbf4d;
}

.strong {
    background-color: #2ecc71;
}
