:host {
    display: flex;
    margin-top: 1em;
}

.strength-bar {
    width: calc(100% / 3);
    height: 0.3em;
    background-color: #7b7b7b;
    transition: width 0.3s ease;
    border-radius: 20px;
    margin: 1em 0;
}

.strength-bar:not(:last-child) {
    margin-right: 20px;
}

.gray {
    background-color: #7b7b7b;
}

.red {
    background-color: #ff4d4d;
}

.yellow {
    background-color: #ffbf4d;
}

.green {
    background-color: #2ecc71;
}
